/vot/vot/bin/Debug/vot.exe
/vot/vot/bin/Debug/vot.pdb
/vot/vot/bin/Debug/vot.vshost.exe
/vot/vot/bin/Debug/vot.vshost.exe.manifest
/vot/vot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/vot/vot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/vot/vot/obj/Debug/vot.Properties.Resources.resources
/vot/vot/obj/Debug/vot.csproj.FileListAbsolute.txt
/vot/vot/obj/Debug/vot.csproj.GenerateResource.Cache
/vot/vot/obj/Debug/vot.csprojResolveAssemblyReference.cache
/vot/vot/obj/Debug/vot.exe
/vot/vot/obj/Debug/vot.pdb
/vot/*.suo
